<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Spotify Callback</title>
    {% load static %}
</head>
<body>
    <div id="user-data"></div>

    <script>
        try {
            const userDataJson = '{{ user_data_json|default:"{}"|escapejs }}';
            const userData = JSON.parse(userDataJson);

            if (userData && userData.access_token) {
                localStorage.setItem('spotify_user_data', JSON.stringify(userData));
                console.log("Access token kaydedildi:", userData.access_token);
                window.location.href = "{% url 'spotify_home' %}";
            } else {
                throw new Error("Access token bulunamadı!");
            }
        } catch (error) {
            console.error("Giriş sırasında hata oluştu:", error);
            document.getElementById("user-data").textContent = "Giriş sırasında bir hata oluştu.";
            // window.location.href = "{% url 'home' %}"; // İstersen buraya da atabilirim
        }
    </script>
</body>
</html>
