{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'spotify_home' %}">Spotify'a Git</a></li>
        </ul>
    </nav>

    <main>
        <section class="image-container">
            <img src="https://drive.google.com/uc?export=view&id=1C2DFGklEdaJ8umioMNZnhS18J6_WlJkF" alt="Drive Görseli" style="width: 100%; max-width: 600px;">
        </section>
    </main>
</body>
</html>
